@import "tailwindcss";

:root {
  --background-primary: #000000;
  --text-primary: #ffffff;
}

@layer components {
  .conteiner-custom {
    @apply md:max-w-3xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl w-full mx-auto px-6;
  }

  .input-custom {
    @apply w-full px-4 py-3 bg-zinc-950 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-700 border-1 border-zinc-700 text-sm ;
  }

  .title {
    @apply md:text-2xl text-xl text-white;
  }

}

@theme inline {
  --color-background: var(--background-primary);
  --color-text: var(--text-primary);
  --font-sans: "Helvetica", "Arial", sans-serif;
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: "Helvetica";
}

* {
  font-family: "Helvetica", "Arial", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}